<div class="container">
  <div class="row vertical-center">
    <div class="col-lg-6 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-lg-offset-3 col-xs-8 col-xs-offset-2">
      <h1 class="text-heading text-center">The Ultimate Trip Planner</h1>
      <p class="text-paragraph text-center">Start planning your trip in a flash! We provide you average costs based on your destination, preffered transport, acomodation, diet and more!</p>
      <button (click)="btnClick()" type="button" class="btn btn-primary btn-lg center-block">Plan your trip now!</button>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
