body
{
    background: url("../../assets/back3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.first-containter{
    height: 100%;
}

